@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to RentC, your brand new solution to manage and control your company's data without missing anything.  </h3>
</div>
